---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Primer example: cobadged">
  <main>
    <form id="card" action="">
      <label>
        Card number
        <div class="row">
          <div id="card-number">
            <input disabled placeholder="4321 1234 9876 6789" />
          </div>

          <div id="card-network" class="flow ghost"></div>
        </div>
      </label>

      <div id="supported-card-networks" class="flow"></div>

      <div class="row">
        <label>
          Expiry date
          <div id="card-expiry">
            <input disabled placeholder="01/25" />
          </div>
        </label>

        <label>
          Security code
          <div id="card-security-code">
            <input disabled placeholder="•••" />
          </div>
        </label>
      </div>

      <label>
        Cardholder name
        <input name="card-name" placeholder="John Doe" />
      </label>

      <button>Pay</button>

      <code id="error" class="ghost"></code>
    </form>
  </main>
</Layout>

<script src="../scripts/PrimerHeadless"></script>

<style lang="scss">
  main {
    background-color: #eee;
    display: grid;
    place-items: center;
  }

  form {
    background-color: #fff;
    border-radius: 8px;
    display: grid;
    gap: 8px;
    padding: 24px;
    width: 400px;
  }

  button,
  input {
    font-size: 1rem;
    height: 40px;
    padding: 8px;
    width: 100%;
  }

  .row {
    align-items: center;
    display: grid;
    gap: 8px;
    grid-auto-flow: column;
  }

  .flow {
    display: flex;
    gap: 8px;
    flex-flow: row wrap;
  }

  .ghost:empty {
    display: none;
  }

  code {
    overflow: hidden;
  }
</style>

<style is:global lang="scss">
  iframe {
    max-height: 40px;
  }

  #card-network {
    label {
      display: flex;
      position: relative;
    }

    // place the input on top of the image so the browser's default input focus ring
    // looks like it's the image
    input {
      appearance: none;
      margin: 0;
      position: absolute;
      inset: 0;
    }

    // fade a bit the network not selected
    input:not(:checked) + img {
      opacity: 0.5;
    }
  }
</style>
