---
import Input from '../../components/Input.astro';
import Layout from '../../layouts/Layout.astro';

const autofill = Astro.url.searchParams.has('autofill') || undefined;
const autofocus = Astro.url.searchParams.has('autofocus') || undefined;
const api = Astro.url.searchParams.has('api') || undefined;
---

<Layout title="Primer secure card form">
  <main>
    <form method="POST" action={api ? '/api/card' : '/secure/payment'}>
      <label>
        Card number
        <Input
          autofocus={autofocus}
          inputmode="numeric"
          minlength={13}
          maxlength={19}
          name="cardNumber"
          pattern="[0-9 ]{13,19}"
          placeholder="4242 4242 4242 4242"
          required
          type="tel"
          value={autofill && '4242 4242 4242 4242'}
        />
      </label>
      <label>
        Expiry date
        <Input
          inputmode="numeric"
          minlength={5}
          maxlength={5}
          name="expiryDate"
          pattern="[0-9]{2}/[0-9]{2}"
          placeholder="MM/YY"
          required
          type="tel"
          value={autofill && '01/25'}
        />
      </label>
      <label>
        Card security code
        <Input
          inputmode="numeric"
          minlength={3}
          maxlength={4}
          name="securityCode"
          pattern="[0-9]{3,4}"
          placeholder="123"
          required
          type="tel"
          value={autofill && '123'}
        />
      </label>
      <label>
        Name on card
        <Input
          minlength={2}
          maxlength={32}
          name="name"
          pattern="[A-z ]{2,32}"
          placeholder="John Doe"
          required
          value={autofill && 'John Doe'}
        />
      </label>
      <button>Pay</button>
    </form>
  </main>
</Layout>

<style lang="scss">
  form {
    display: grid;
    gap: 16px;
    place-items: stretch;
  }

  label {
    display: grid;
    gap: 4px;
  }

  button {
    background-color: hsl(0 0% 10%);
    border: none;
    border-radius: 4px;
    color: hsl(0 0% 100%);
    cursor: pointer;
    height: 48px;
    padding: 16px;

    &:hover {
      background-color: hsl(0 0% 20%);
    }

    &:active {
      background-color: hsl(0 0% 30%);
    }
  }
</style>
