---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Card security code">
  <label>
    Card security code
    <input name="cardSecurityCode" autocomplete="cc-csc" />
  </label>
</Layout>

<style lang="scss">
  label {
    display: grid;
  }
</style>
