---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Card expiry date">
  <label>
    Card expiry date
    <input name="cardExpiryDate" autocomplete="cc-exp" />
  </label>
</Layout>

<style lang="scss">
  label {
    display: grid;
  }
</style>
