---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Cardholder name">
  <label>
    Cardholder name
    <input name="cardholderName" autocomplete="cc-name" />
  </label>
</Layout>

<style lang="scss">
  label {
    display: grid;
  }
</style>
