---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Card number">
  <label>
    Card number
    <input name="cardNumber" autocomplete="cc-number" />
  </label>
</Layout>

<style lang="scss">
  label {
    display: grid;
  }
</style>
